.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(49, 49, 49);
  color: white;
}

.links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logoNav {
  width: 40px;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

.survey {
  background-color: grey;
  margin-left: 620px;
  width: 18%;
}
