.miniLogo{
  width: 60px;
}

.Naverino{
  background-color: #ff414e;
}

.Carousel{
  width: 1000px;
  
}

.shattybad{
  margin-left: -205px;
}

.HomeBackground{
  background-color: #fff5d7;
}

.jimbo{
  background-color: white;
}