.miniLogo{
  width: 60px;
}

.Naverino{
  background-color: white
}

.Carousel{
  width: 1000px;
  
}

.shattybad{
  margin-left: -205px;
}

.HomeBackground{
  background-color: white
}

.cat{
    margin-top: -62px;
}

.background{
  position: absolute;
  margin-left: -210px;
}
.form{
  width: 600px;
  margin-left: 400px;
}